body {
    background-color: #ebebeb;
    font-family: "Quintessential", serif;
    text-align: center;
}
section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 5px;
}
h1, h2, h3, h4, p {
    margin: 5px;
}
button {
    margin: 20px;
    color: white;
    font-family: "Quintessential", serif;
    font-weight: bold;
    background-color: #333333;
    border: 1px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.container {
    max-width: 600px;
}
.brick {
    break-inside: avoid;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;

    border: 1px solid black;
    border-radius: 25px;

    transition: background-color 200ms, color 200ms;
}
.brick:hover:not(.display) {
    background-color: #333333;
    color: white;
    cursor: pointer;
}
.wall {
    column-count: 3;
    @media (max-width: 480px) {
        column-count: 2;
    }
    @media (max-width: 380px) {
        column-count: 1;
    }
}
.apparition {
    background-color: #ffd9d9;
}
.healing {
    background-color: #d9dcff;
}
.eucharistic {
    background-color: #fff9d9;
}
.incorruptible {
    background-color: #f6d9ff;
}